* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Caja-Full {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.Titulo {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Titulo h3 {
    font-size: 26px;
    font-weight: lighter;
    letter-spacing: 3px;
}

.Titulo h5 {
    margin-right: 5px;
    padding: 8px 20px;
    font-size: 12px;
    border: solid 1px black;
}

.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.Container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.caja1,
.caja2,
.caja3,
.caja4,
.caja5,
.caja6,
.caja7,
.caja8 {
    position: relative;
}

.caja1 h3,
.caja2 h3,
.caja3 h3,
.caja4 h3,
.caja5 h3,
.caja6 h3,
.caja7 h3,
.caja8 h3 {
    position: absolute;
    bottom: 20px; 
    left: 10px; 
    color: white;
    text-align: left;
}


@media screen and (min-width: 669px) {
    .Titulo {
        flex-direction: row;
    }

    .Titulo h3 {
        order: 1;
    }

    .Titulo h5 {
        order: 1;
    }

}